<footer class="footer">
  <div class="container">
    <p class="footer-desc">
      Made by
      <a
        class="footer-link"
        href="https://github.com/HyryaRoman/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Hyria Roman
      </a>
      for
      <a
        class="footer-link"
        href="https://goit.global/ua/"
        target="_blank"
        rel="noopener noreferrer"
      >
        GoIT team </a
      >. Images provided by
      <a
        class="footer-link"
        href="https://pixabay.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Pixabay
      </a>
    </p>
  </div>
</footer>
